@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* content */
.content {
  margin: 40px auto;
  max-width: min(60vw, 1200px);
  padding: 20px;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 a {
  color: #f1356d;
  text-decoration: none;
}

.navbar h1 a:focus {
  outline: 2px solid #494949;
  border-radius: 8px;
}

.navbar .links {
  margin-left: auto;
}

.navbar .links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
}

.navbar .links a:focus {
  outline: 2px solid #494949;
  border-radius: 8px;
}

/* blog previews */
.preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
}

.preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.preview a {
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  width: 100%;
  position: relative;
}

.preview a::after {
  content: attr(data-title);
  position: absolute;
  font-size: 14px;
  top: 110%;
  left: 20px;
  color: #f1356d;
  padding: 2px 4px;
  border: 1px solid #f1356d;
  background-color: #ffffff;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}

.preview a:hover::after {
  opacity: 1;
}

.preview a h2 {
  font-size: 20px;
  color: #f1356d;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50%;
}

.preview a p {
  font-size: 12px;
  color: #4f4d4d;
  margin-left: auto;
  max-width: 10%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* blog content */
.blog-content article {
  display: flex;
  flex-direction: column;
}

.blog-content article h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-content article div {
  margin: 20px 0px;
}

.blog-content article button{
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid #f1356d;
  font-size: 12px;
  cursor: pointer;
  color: #f1356d;
  background-color: #ffffff;
}

.blog-content article button:hover {
  background-color: #f1356d;
  color: #ffffff;
}

/* login and register */
.login-register {
  margin: 20px;
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
}

.login-register h2 {
  font-size: 24px;
  color: #f1356d;
  margin: 16px 10px;
}

.login-register form {
  display: flex;
  flex-direction: column;
}

.login-register form .set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}

.login-register form .set input {
  flex-grow: 1;
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid #333;
  padding: 2px 2px;
}

.login-register form .set input:focus {
  outline: 1px solid #333;
}

.login-register form .set label {
  display: flex;
  flex-direction: row;
  color: #f1356d;
}

.login-register form p {
  margin-bottom: 10px;
  font-size: 14px;
}

.login-register form p a {
  color: #f1356d;
}

.login-register form p a:focus {
  outline: 1px solid #333;
  border-radius: 4px;
}

.login-register form button {
  padding: 6px 16px;
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
  border: 0;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
  font-weight: bold;
}

.login-register form button:focus {
  outline: 2px solid #494949;
  border-radius: 8px;
}

/* create new blog */
.create {
  margin: 20px;
  text-align: center;
}

.create h2 {
  font-size: 24px;
  color: #f1356d;
  margin: 16px 10px;
}

.create button {
  padding: 6px 16px;
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
  border: 0;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.create button:focus {
  outline: 2px solid #494949;
  border-radius: 8px;
}

.create label {
  display: block;
  font-weight: bold;
  text-align: left;
}

.create input, .create textarea {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #333;
  padding: 2px 2px;
  margin: 8px 0px;
}

.create input:focus, .create textarea:focus {
  outline: 1px solid #333;
}

.create form textarea {
  resize: none;
  height: 100px;
}

/* blog not found */
.not-found {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.not-found h2 {
  width: 100%;
  margin-bottom: 20px;
}

.not-found a {
  color:#f1356d;
}