@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar .links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
}
.navbar .links a:hover {
  background-color: #d82f62;
  cursor: pointer;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
}

.preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.preview a {
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
}

.preview a h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.preview a p {
  font-size: 12px;
  color: #4f4d4d;
  margin-left: auto;
}

/* blog content */
.blog-content article {
  display: flex;
  flex-direction: column;
}

.blog-content article h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-content article div {
  margin: 20px 0px;
}

.blog-content article button{
  margin-left: auto;
  border-radius: 8px;
  border-width: 1px;
  font-size: 12px;
  cursor: pointer;
}

.blog-content article button:hover {
  background-color: #565555;
  color: #ffffff;
}

/* create new blog */
.create {
  margin: 20px;
  text-align: center;
}

.create button {
  padding: 6px 16px;
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
  border: 0;
  text-decoration: none;
  margin-top: 20px;;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin: 16px 10px;
}

.create label {
  display: block;
  font-weight: bold;
  text-align: left;
}

.create input, .create textarea {
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  width: 100%;
}

.create form textarea {
  resize: none;
  height: 100px;
}

/* blog not found */
.not-found {
  display: flex;
  flex-wrap: wrap;
}

.not-found h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.not-found a {
  color:#f1356d;
}